<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="column">
        <form class="form" action="/create">
            <input class="input" name="log" placeholder="Login" autocomplete="off">
            <input class="input" name="email" type="email" placeholder="email">
            <input class="input" name="pwd" type="password" placeholder="Password" autocomplete="off">
            <input class="input" name="pwd2" type="password" placeholder="Password" autocomplete="off">
            <button class="button">Зарегестрироваться</button>
        </form>
</div>
</body>
</html>