{% extends '../../wrapper.html' %}

{% block content %}
    <section class="content section container">
        <h1>Админ панель</h1>

            <div style="height: 90vh; overflow-y: scroll;" >
                <h2 style="text-decoration: underline" class="subtitle is-4">Паспортные данные</h2>
                <form method="post" action="">
                    {% csrf_token %}
                    <label class="label" for="">Имя релиза: <b>{{ request.release_name }}</b></label>
                    <label class="label" for="">VK автора: <b><a target="_blank"
                                                                 href="{{ request.contact }}">{{ request.contact }}</a></b></label>
                    <label for="" class="label">Названия треков</label>
                    {% for track in tracks %}
                    <form method="post" action="/form-admin/change-track-name/?id={{ track.id }}&name={{ request.id }}">
                        <input name="new_track_name_{{ track.id }}" type="text" value="{{ track.name }}" class="input"><br>
                        <span @click="changeTrack({{ track.id }})" style="cursor: pointer;">Изменить</span><br><br>
                    </form>
                    {% endfor %}
                    <br>
                    <label for="" class="label">Псевдоним</label>
                    <input name="NAME" placeholder="Например: PHARAOH" required type="text" class="input" value="{{pasp_info.artist_name}}"><br><br>
                    <label for="" class="label">ФИО</label>
                    {% if pasp_info == None %}
                    <input type="text" placeholder="Например: Иванов Иван Иванович" required name="FULLNAME"
                           class="input"><br><br>
                    {% else %}
                    <input type="text" placeholder="Например: Иванов Иван Иванович" value="{{pasp_info.full_name}}" required name="FULLNAME"
                           class="input"><br><br>
                    {% endif %}
                    <label for="" class="label">Инициалы</label>
                    <input type="text" placeholder="Например: Иванов И.И." required name="INITIALS"
                           class="input"><br><br>
                    <label for="" class="label">Почта</label>
                    <input type="email" required placeholder="example@host.com" name="EMAIL" value="{{ request.email }}"
                           class="input"><br><br>
                    <label for="" class="label">Гражданство, родительный падеж</label>
                    <input name="COUNTRY" placeholder="Например: Российской Федерации" value="{{pasp_info.grajdanstvo}}"
                           required type="text"
                           class="input"><br><br>
                    <label for="" class="label">Дата рождения</label>
                    {% if pasp_info == None %}
                    <input type="text" required name="BIRTH_DATE" placeholder="Например: 13.05.2004"
                           class="input"><br><br>
                    {% else %}
                    <input type="text" required name="BIRTH_DATE" placeholder="Например: 13.05.2004" value="{{pasp_info.data_born}}"
                           class="input"><br><br>
                    {% endif %}
                    <label for="" class="label">Регистрация</label>
                    {% if pasp_info == None %}
                    <input name="BIRTH_PLACE"
                           placeholder="Адрес Ивановская область, Ивановский район, д. Андреево, д. 10" required
                           type="text" class="input"><br><br>
                    {% else %}
                    <input name="BIRTH_PLACE"
                           placeholder="Адрес Ивановская область, Ивановский район, д. Андреево, д. 10" required
                           type="text" value="{{pasp_info.place_born}}" class="input"><br><br>
                    {% endif %}
                    <label for="" class="label">Серия-Номер паспорта</label>
                    <input type="text" required name="PASSPORT_SERIE" placeholder="Например: 4444-666666"
                                   class="input" value="{{pasp_info.seria_num}}">
                    <label for="" class="label">Кем выдан</label>
                    {% if pasp_info == None %}
                    <input name="GIVEN_BY" placeholder="Напрмер: УМФЦ Российской Федерации" required type="text"
                           class="input"><br><br>
                    {% else %}
                    <input name="GIVEN_BY" placeholder="Напрмер: УМФЦ Российской Федерации" value="{{pasp_info.who_given}}" required type="text"
                           class="input"><br><br>
                    {% endif %}
                    <label for="" class="label">Когда выдан</label>
                    {% if pasp_info == None %}
                    <input type="text" required name="GIVEN_DATE" placeholder="Например: 13.05.2004"
                           class="input"><br><br>
                    {% else %}
                    <input type="text" required name="GIVEN_DATE" placeholder="Например: 13.05.2004" value="{{pasp_info.when_given}}"
                           class="input"><br><br>
                    {% endif %}
                    <button type="submit" class="button">Создать документ</button>
                </form>
            </div>


    </section>
{% endblock %}